@import "tailwindcss";

.Toastify__toast {
  --toastify-color-dark: var(--color-gray-900);
  --toastify-icon-color-info: var(--color-green-300);
  --toastify-icon-color-success: var(--color-green-300);
  --toastify-icon-color-warning: var(--color-green-300);
  --toastify-icon-color-error: var(--color-rose-500);
  --toastify-toast-width: 360px;
  --toastify-toast-padding: 16px;
}
